.header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  padding-left: 140px;
  box-shadow: 0 2px 4px rgba(237, 227, 227, 0.2);
  color: #fff;
}


.left {
  display: flex;
  max-width: 400px;
  align-items: center;
}
.login {
  justify-content: flex-end;
}
.logo {
  height: 40px;
  cursor: pointer;
}
.logo:hover {
  opacity: 0.8;
}
.market-link {
  font-size: 20px;
  margin-left: 32px;
  color: #fff;
  text-decoration: underline;
}