.market-box {
  /* display: flex; */
  padding-top: 30px;
}

.market-title {
  color: #fff;
  text-align: center;
}

.market-title {
  color: #fff;
}

.market-box .logo-img {
  top: 40px;
}

.card-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-card {
  position: fixed;
  top: 154px;
  right: 110px;
  font-size: 16px;
  font-weight: bold;
  height: 44px;
  width: 120px;
}